apiVersion: v1
kind: Secret
metadata:
  name: fournos-dashboard-oauth-cookie
  labels:
    app.kubernetes.io/name: fournos-dashboard
type: Opaque
stringData:
  cookie-secret: REPLACE_ME_WITH_OUTPUT_OF_openssl_rand_base64_32
